{% extends "base.html" %}
{% load static %}  <!-- Load static files -->

{% block title %}Reset Password - WattWise{% endblock %}

{% block content %}
    <div class="container">
        <h2>Reset Password</h2>
        <p>Enter your email address, and we will send you a link to reset your password.</p>

        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Send Reset Link</button>
        </form>

        <div class="links">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
{% endblock %}
