{% extends "base.html" %}
{% load static %}  <!-- Load static files -->

{% block title %}Password Reset Confirm - WattWise{% endblock %}

{% block content %}
    <div class="container">
        <h2>Reset Password</h2>
        <p>Enter your new password below.</p>

        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Reset Password</button>
        </form>

        <div class="links">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
{% endblock %}
